export(as.constraint)
export(as.F_objective)
export(as.L_constraint)
export(as.L_objective)
export(as.objective)
export(as.OP)
export(as.Q_constraint)
export(as.Q_objective)
export("bounds<-")
export(bounds)
export("constraints<-")
export(constraints)
export(F_constraint)
export(F_objective)
export(G)
export(is.L_constraint)
export(is.Q_constraint)
export(L_constraint)
export(L_objective)
export(objective)
export(OP)
export(Q_constraint)
export(Q_objective)
export(ROI_available_solvers)
export(ROI_installed_solvers)
export(ROI_registered_solvers)
export(ROI_solve)
export(types)
export(V_bound)
import(methods)
import(registry)
import(slam)
S3method(as.constraint,F_constraint)
S3method(as.constraint,L_constraint)
S3method(as.constraint,"NULL")
S3method(as.constraint,Q_constraint)
S3method(as.F_objective,F_objective)
S3method(as.F_objective,Q_objective)
S3method(as.function,F_objective)
S3method(as.function,L_objective)
S3method(as.function,Q_objective)
S3method(as.L_constraint,L_constraint)
S3method(as.L_constraint,list)
S3method(as.L_constraint,numeric)
S3method(as.list,V_bound)
S3method(as.L_objective,"function")
S3method(as.L_objective,L_objective)
S3method(as.L_objective,"NULL")
S3method(as.L_objective,numeric)
S3method(as.L_objective,Q_objective)
S3method(as.L_term,matrix)
S3method(as.L_term,"NULL")
S3method(as.L_term,numeric)
S3method(as.L_term,simple_triplet_matrix)
S3method(as.no_V_bounds_OP,no_V_bounds)
S3method(as.no_V_bounds_OP,OP)
S3method(as.objective,default)
S3method(as.objective,objective)
S3method(as.OP,numeric)
S3method(as.OP,OP)
S3method(as.Q_objective,"function")
S3method(as.Q_objective,matrix)
S3method(as.Q_objective,numeric)
S3method(as.Q_objective,Q_objective)
S3method(as.Q_objective,simple_triplet_matrix)
S3method(as.Q_term,list)
S3method(as.Q_term,matrix)
S3method(as.Q_term,numeric)
S3method(as.Q_term,simple_triplet_matrix)
S3method(as.rhs,numeric)
S3method(as.types,character)
S3method(as.types,"NULL")
S3method(as.V_bound,"NULL")
S3method(as.V_bound,V_bound)
S3method("bounds<-",OP)
S3method(bounds,OP)
S3method(c,L_constraint)
S3method("constraints<-",OP)
S3method(constraints,OP)
S3method(dim,constraint)
S3method(length,L_constraint)
S3method(length,objective)
S3method(objective,default)
S3method(print,constraint)
S3method(print,OP)
S3method(print,OP_solution)
S3method(print,V_bound)
S3method(rbind,L_constraint)
S3method(terms,"function")
S3method(terms,L_objective)
S3method(terms,Q_objective)
S3method(types,OP)
